.detailsElements {
  position: absolute;
  width: 70%;
  padding: 5px;
  background: white;
  top: 100%;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  span {
    cursor: pointer;
    transition: 0.15s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.errorSelect {
  border: 2px solid red !important;
}
